# Build file
target/*
bin/*
# Compilation executables, automatically created by JAR execution
GoAsm/*
# Test native, python, and assembly output
.test/*
*.s
*.py
# Excel temporary files
~$*.xlsx
# Eclipse plugins and settings
.dbeaver/*
.dbeaver/.credentials-config.json.bak
.dbeaver/.data-sources.json.bak
.settings/*